html {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	background:#007ca0c7;
	
	background:#b1b1b1c7;
}

#container {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #5d5c5b2e; */
	/* overflow: hidden; */
}

#root {
	--var: 10px;
	position: absolute;
	top: 20px;
	/* left: var(--var); */
	width: 100%;
	height: calc(100% - var(--var) * 2);
	background: #a8a3ab;
	display: none;
	z-index: 10;
}

.SelectedArea {
	position: absolute;
	background: rgba(80, 80, 219, 0.637);
	border: 1px solid rgb(5, 5, 129);
	z-index: 11;
}

.BtnControl {
	text-align: center;
	background: rgba(97, 147, 255, 0.158);
}



/* STORE LIST */
#StaticStoreView {
	position: absolute;
	top: 20px;
	left: 0;
	width: 200px;
	height: calc(100% - 20px);
	overflow: auto;
	background: #186f8a;
	background: #ffffff;
	z-index: 10;
}

#StaticStoreView > * {
	height: 30px;
	line-height: 30px;
	text-indent: 20px;
	border-bottom: 1px solid #00000038;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

/* STORE LIST */
#LibraresView {
	position: absolute;
	top: 20px;
	right: 0;
	width: 200px;
	height: calc(100% - 20px);
	overflow: auto;
	background: #186f8a;
	background: #ffffff;
	z-index: 10;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#LibraresView > * {
	height: 30px;
	line-height: 30px;
	text-indent: 20px;
	border-bottom: 1px solid #00000038;
}



/* NODE */
.node {
    position : absolute;
    width : 200px;
    /* overflow : hidden; */
	/* background : gainsboro; */
	background: rgb(0, 64, 82);
    /* border : 1px solid black; */
    z-index: 1;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	/* user-drag: none; */
	
	/* clip-path: polygon(0% 0%, calc(100% - 40px) 0%, 100% 40px, 100% 100%, 20px 100%, 0% calc(100% - 20px)); */
	/* clip-path: polygon(0% 0%, calc(100% - 40px) 0%, 100% 40px, 150% 40px, 150% 100%, 100% 100%, 20px 100%, 0% calc(100% - 20px), -150% calc(100% - 20px), -150% 0% ); */
	/* clip-path: polygon(-50% 0, -50% calc(100% - 20px), 25% calc(100% - 20px), 35% 100%, 150% 100%, 150% calc(20px), calc(100% - 40px) calc(20px), 65% 0); */
	
	/* clip-path: polygon(0% 0%, calc(100% - 40px) 0%, 100% 40px, 100% 100%, 20px 100%, 0% calc(100% - 20px));
	 */
	
	font-family: monospace;
	background: transparent;
	
	/* clip-path: url(#blocksTemplatePath); */
	
}

.node::before {
	clip-path: none;
}



.node > * {
    /* pointer-events: none; */
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.node.focused {
    /* border: 1px red solid; */
}
.node.focused > .node-type{
	background: #007eff;
	    background: #efff00cf;
}


/* NODE TOP */
.node-type {
	/* height: 40px; */
	height: 20px;
	color: whitesmoke;
	/* line-height: 35px; */
	padding-left: 10px;
	font-size: 15px;
	clip-path: url(#clipPathTemplate1);
	background: rgb(14,41,49);
	
	background: rgb(197, 247 ,217);
	
	    background: rgb(255 255 255);
    color: black;
}

.node-info {
	height: 40px;
	padding-left: 10px;
	line-height: 35px;
	background: rgb(0, 64, 82);
	background: #84d064;
	    background: #e6eeff;
}


/* NODE CONNECTIONS */
.containers {
    display: flex;
    /* pointer-events: none; */
	/* background: #80808078; */
	background: rgb(0, 64, 82);
	background: #84d064;
	    background: #e6eeff;
}
.connection_container{
    width: 50%;
    /* pointer-events: none; */
}
.connection_container > *{
    /* pointer-events: none; */
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.connection {
    display: flex;
    line-height: 20px;
	/* background: #808080bf; */
    border: black solid 1px;
	pointer-events: auto;
	background: rgb(24 ,111, 138);
	background: rgb(98, 230, 157);
	    background: rgb(98 230 157 / 30%);
}
.connection > * {
    /* pointer-events: none; */
}

.connection.right {
    text-align: right;
}


/* NODE DOWN */
.node-b-indent1 {
	height: 40px;
	background: rgb(0, 64, 82);
	background: #84d064;
	background: #e6eeff;
}

.node-b-indent2 {
	height: 20px;
	background: rgb(14,41,49);
	/* text-align: right; */
	color: white;
	padding-left: 65px;
	
	clip-path: url(#clipPathTemplate2);
	
	background: rgb(197 247 217);
	color: black;
	
	background: rgb(255 255 255);
}

.node.focused > .node-b-indent2{
	background: #007eff;
	    background: #efff00cf;
}






.fillText {
    width: -webkit-fill-available;
    width: 100%;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.c_point {
    width: 5px;
    height: 5px;
    background: black;
    margin-top: 8px;
    box-sizing: border-box;
}
.SVG_LINE {
    position: absolute;
    overflow: visible;
    /* width: 1px; */
    /* height: 1px; */
    z-index: 0;
}

.SVG_LINE:hover {
    z-index: 1;
}

.SVG_CONTAINER {
	position: absolute;
	overflow: visible;
	z-index: 0;
}

.connection_path {
    /* z-index: 0; */
    stroke-linecap : round;
	cursor         : default;
    pointer-events : stroke;
    fill: transparent;
    stroke-width: 3;
}

.connection_path.support_path {
    stroke-width: 14;
    stroke: transparent;
}

.connection_path:hover {
    /* z-index: 2; */
}
.connection_path.focused {
    stroke: orange;
}
.fillText, .c_point {
    pointer-events: none;
}



/* TOP BAR CONTAINER */

#TopBar{
	position: absolute;
	width: 100%;
	height: 20px;
	
	z-index: 1;
	display: flex;
	user-select: none;
	
	background: rgb(72, 72, 104);
	background: rgb(14 41 49);
	background: #af9062;
	background: #e4ceadb8;
	color: black;
}
/* 
#TopBar:hover {
	height: 50px;
	line-height: 50px;
} */

.NavBtn {
	width: 70px;
	text-align: center;
	border-right: 1px solid black;
	box-shadow: 0px 0px 5px 0px black;
	/* color:#ada4a4; */
}

.StoreBlock {
	z-index: -1;
	width: 100px;
	height: 20px;
	position: absolute;
	color: transparent;
	background: transparent;
	transition: left 0.2s, z-index 4s;
	overflow: hidden;
}

.StoreBlock > * {
	top: 0;
	width: 20px;
	height: 18px;
	position: absolute;
	border: 1px solid transparent;
	box-sizing: border-box;
	text-align: center;
	color: transparent;
	background: transparent;
	line-height: 15px;
	font-family: monospace;
}


.StoreBlock > .Fixed {
	left: 20px;
}

.connection.right>.StoreBlock > .Fixed {
	left: 60px;
}

.StoreBlock:hover>* {
	border: 1px solid black;
	background: #808080bf;
	background: #186f8a;
	color: black;
	background: rgb(98, 230, 157);
}

.connection.right>.StoreBlock.F {
	left: 200px;
	color: red;
	background: #808080bf;
	background: #186f8a;
	z-index: 1;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: left;
	overflow: visible;
	    background: rgb(98, 230, 157);
}
.connection>.StoreBlock.F {
	left: -100px;
	color: red;
	background: #808080bf;
	background: #186f8a;
	z-index: 1;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: right;
	overflow: visible;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	    background: rgb(98, 230, 157);
}

.connection.right > .StoreBlock {
	left: 100px;
}
.connection.right:hover > .StoreBlock {
	left: 200px;
	color: red;
	background: #808080bf;
	background: #186f8a;
	z-index: 1;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: left;
	overflow: visible;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	    background: rgb(98, 230, 157);
}
.connection.right:hover > .StoreBlock > *{
	right: 0;
}

.connection > .StoreBlock {
	left: 0px;
}
.connection:hover>.StoreBlock {
	left: -100px;
	color: red;
	background: #808080bf;
	background: #186f8a;
	z-index: 1;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: right;
	overflow: visible;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	    background: rgb(98, 230, 157);
}



.StoresBackground {
	width: 100%;
	height: 100%;
	background: #000000ba;
	z-index: 1;
	position: absolute;
	overflow: auto;
	user-select: none;
}

.StoresContainer {
	position: absolute;
	width: 500px;
	height: 500px;
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	background: #d8d8d8;	
	/* overflow: auto; */
}

.StoresContainer2 {
	width: 100%;
	height: calc(100% - 30px);
	overflow: auto;
	/* background: #459c4b; */
}

.StoreItem {
	height: 25px;
	line-height: 25px;
	padding-left: 50px;
	border-bottom: 1px solid;
}

.StoreItem:hover {
	box-shadow: 0px 0px 20px 5px black;
	font-weight: bold;
}

.StoreItem.Selected {
	box-shadow: 0px 0px 20px 5px black;
	font-weight: bold;
	color: red;
}

.BtnChooseStore1,
.BtnChooseStore2 {
	position: absolute;
	bottom: -40px;
	height: 40px;
	line-height: 40px;
	width: 250px;
	text-align: center;
}

.BtnChooseStore1 {
	left: 0;
	background: #459c4b;
}
.BtnChooseStore2 {
	right: 0;
	background: #9c4545;
}

.StoreRemove {
	position: absolute;
	border: 1px solid black;
	right: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-family: monospace;
	transform: translateY(-24px);
}

.InputNewStore {
	
}

.StartNodes {
	left: 10px !important;
	border-color: rgb(0, 204, 255);
}

.SwitchContainer{
	display: flex;
	background: aliceblue;
	height: 30px;
}

.BtnSwitch {
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 30px;
	border: black 1px solid;
}

.BtnSwitch:hover {
	text-decoration: underline;
}

.DefaultsContainer{
	width: 100%;
	height: calc(100% - 30px);
	/* background: #45839c; */
}

.DefaultsInput {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	
}

.ViewView {
	position: absolute;
	top: -50000px;
	left: -50000px;
	height: 100000px;
	width: 50300px;
	
	
	/* left: 0px; */
	/* width: 300px; */

	background: rgba(128, 128, 128, 0.1);
	background: rgb(0 64 82 / 74%);
	background: rgb(212 220 192 / 74%);
}

.ViewArea {
	position: absolute;
	/* background: #459c4b44; */
	/* background: #45469c44; */
	/* background: #9c455844; */
	/* background: #056f8ea1; */
	left: -100px;
	width: 9e10px;
}
